/*Header  */

/* /Header */

/* Carrousel */

/* /Carrousel */

/* bodyPart2 */
#bodyPart{
    background-color: #ffffff;
    background-position: left top;
    background-repeat: no-repeat;
    padding-top: 2%;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: #eae9e9;
    border-top-style: solid;
    border-bottom-style: solid;
}

#bodyPart2 h1{
    color: #333333;
    font-size: 34px;
    font-family: 'Rubik';
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

#bodyPart2 h2{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
}

#bodyPart2 h4{
    font-size: 13px;
    color: #89919f;
    font-family: 'Rubik';
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
}
/* /bodyPart2 */
