@import 'cristianColors';

/* Smartphones Size */
@media (max-width: 576px) {
    body {
        margin: 0;
        padding: 0;
    }

    .main-container {
        border-style: none;
    }
}

/* Tablets, Laptops, Desktops Size */
@media (min-width: 576px) {
    body {
        margin: 0;
        padding: 0 32px;
    }

    .main-container {
        border-left: 1px solid $bgGray;
        border-right: 1px solid $bgGray;
    }
}