/* Ford Antenna */
@font-face {
    font-family: 'Ford Antenna Bold';
    src: url('../fonts/Ford-Antenna-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Ford Antenna Regular';
    src: url('../fonts/Ford-Antenna-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Ford Antenna Light';
    src: url('../fonts/Ford-Antenna-Light.woff') format('woff');
}

@font-face {
    font-family: 'Ford Antenna Light Italic';
    src: url('../fonts/Ford-Antenna-Light-Italic.woff') format('woff');
}