/* Background Colors */
$bgWhite: #FFFFFF;
$bgLightGray: #F3F3F3;
$bgGray: #DBDBDB;
$bgDarkGray: #343434;
$bgDarkerGray: #252525;
$bgDarkBlue: #1B394E;

/* Button Colors */
$btnWhite: #FFFFFF;
$btnBlue: #2D96CD;

/* Font Colors */
$fntWhite: #F4F4F4;
$fntLightGray: #9E9E9E;
$fntGray: #898989;
$fntDarkGray: #616161;
$fntBlue: #0F93BE;
$fntDarkBlue: #0078A0;